<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Index - Role&Join</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="css/bootswatch.com.united/bootstrap.css" media="screen">
        <link rel="stylesheet" href="css/bootswatch.com.united/bootstrap.min.css">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrapcdn.com.font-awesome.4.3.0.css/font-awesome-4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/test.css">
        <link rel="stylesheet" type="text/css" href="css/animations.css">
    </head>

    <body ng-app="helloApp">


        <div ng-controller="iniControl">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#inicio" class="navbar-brand"><i class="fa fa-home fa-lg"></i></a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav" ng-show="show_user">
                            <li><A HREF="#/{{userName}}">{{userName}}</A></li>
                            <li><a href="#/channels">{{'CHANNELS'|translate}}</a></li>
                            <!--<li><a href="#/contact" >Contacts</a></li>-->
                        </ul>
                        <ul class="nav navbar-nav" ng-show="!show_user">
                            <li><a href="register.html">Sign in</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="" ng-click="clickSalir()"><i class="fa fa-sign-out fa-lg"></i> {{'SING_OUT'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container" ng-controller="AppController2">
                <br/><br/><br/><br/>
                <div class="col-lg-12" align="center">
                    <br/>
                    <a  href="" ng-click="showElementForm(0)">
                        <span class="fa fa-slack  fa-2x" style="color: #999999"></span>
                    </a>
                    <a  href="" ng-click="showElementForm(1)">
                        <span class="fa fa-pencil-square-o  fa-2x" style="color: #999999"></span>
                    </a>
                    <a  href="" ng-click="showElementForm(2)">
                        <span class="fa fa-cloud-upload  fa-2x" style="color: #999999"></span>
                    </a>
                    <a  href="" ng-click="showElementForm(3)">
                        <span class="fa fa-users fa-2x" style="color: #999999"></span>
                    </a>
                </div>

                <div class="col-lg-12" >
                    <br/>
                    <div class="col-lg-6 col-lg-offset-3" ng-show="showElementFrm[0]">
                        <div class="col-lg-6" >
                            <label>{{'USER_NAME'|translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user  fa-lg" style="color: #DD4814"></i></span>
                                <input class="form-control" type="text" name="txt_comentario" 
                                       ng-minlength="1" ng-maxlength="1000" ng-model="comment" placeholder="{{'MAKE_COMMENT'|translate}}"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>CHANNELS</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-slack  fa-lg" style="color: #DD4814"></i></span>
                                <input type="text"  class="form-control" ng-model="postData.slack" placeholder="{{'EG'|translate}}. @me#hello"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" >

                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="col-lg-12" ng-show="showElementFrm[1]">
                            <label>{{'NOTE'|translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil-square-o fa-lg" style="color: #DD4814"></i></span>
                                <textarea ng-model="postData.msg"
                                          ng-minlength="1" ng-maxlength="1000" rows="1" class="form-control" placeholder="{{'MESSAGE'|translate}}" id="message" >
                                </textarea>
                            </div>
                        </div>

                        <div class="col-lg-12" ng-show="showElementFrm[2]">
                            <label>{{'UPLOAD'|translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cloud-upload fa-lg" style="color: #DD4814"></i></span>
                                <input type="file" nv-file-select="" uploader="uploader" multiple  class="form-control"/>
                            </div>
                        </div>



                        <div class="col-lg-12" ng-show="showProgress" ng-show="showElementFrm[2]">
                            <progressbar animate="true" value="dynamic" type="success" >
                                <b>{{dynamic}}%</b>
                            </progressbar> 
                        </div>

                        <div class="col-lg-12" ng-show="showElementFrm[3]">
                            <label>{{'ONLY_WITH'|translate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa-lg" style="color: #DD4814"></i></span>
                                <textarea ng-model="postData.with"
                                          ng-minlength="1" ng-maxlength="1000" rows="1" class="form-control" placeholder="{{'SHARED_ONLY_WITH'|translate}}. Eg: @anyone" id="message" ></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12" >
                            <br/>
                            <div class="input-group">
                                <input type="button" value="{{'POST'|translate}}" ng-click="clickPost()" ng-disabled="enableBtnPost()" class="btn btn-default pull-left"/>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12" ng-show="showElementFrm[2]" align="center">
                        <br/>
                        <div ng-repeat="item in uploader.queue" align="center" class="col-lg-2 thumbnail">
                            <div ng-if="controller.isImage(item._file)" >
                                <div ng-thumb="{ file: item._file, height: 100, width: 100 }" ></div>
                                <div class="col-lg-12">{{ item.file.name | limitTo:20}}</div>
                                <div class="col-lg-12">
                                    <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                                    <button ng-click="item.remove()">Remove</button>
                                </div>
                            </div>
                            <div ng-if="!controller.isImage(item._file)" >
                                <img src="../img/file.png" style="height: 105px; width: 100px">
                                <div class="col-lg-12">{{ item.file.name | limitTo:20}}</div>
                                <div class="col-lg-12">
                                    <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                                    <button ng-click="item.remove()">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
            <script src="js/angular-file-upload.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
            <script src="scripts/app.js"></script>
            <script src="scripts/controllers.js"></script>
            <script src="scripts/services.js"></script>
            <script src="scripts/directives.js"></script>
            <script src="js/angular/modules/angular-md5.min.js"></script>
            <script src="js/angular/modules/angular-base64.min.js"></script>
            <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
        </div>
    </body>
</html>